.logo{
	width: 222px;
	height: 24px;
	margin: 13px;
}

.menu-block{
	@media (min-width : 980px){
		display: none !important;
	}
}
.menu-btn{

	text-align: center;
	width: 100%;
	display: block;
	height: 100%;
	font-size: 30px;
	padding: 5px;
	color: #98ca3c;
	cursor: pointer;

}


/* ===== Topic Header ===== */
.topic {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	background: #f6f6f6;
	position : relative;
	height: 100%;

	.topic-blocks{
		display: inline-block;
		min-width: 50px;
		height: 100%;
		border-right: thin solid #eee;

		span{

		}

		&:last-child{
			border-left: thin solid #eee;
			border-right: none;
		}

		&.logo-block{
			border-right: none;
		}
	}
}
.topic h3 {
	display: inline-block;
	margin: 0;
	padding: 23px 0;
	font-size: 16px;
	white-space:nowrap;
}
.topic .breadcrumb {
	margin-bottom: 0;
	padding: 21px 0;
	background: transparent;
}

/*
 * HEADER GROUP
 */

#header{
	display          : block;
	height           : @navbar-height;
	position         : relative;
	margin           : 0;
}

.fixed-header #header{
	position      : fixed;
	width         : 100%;
	z-index       : @left-panel-zindex+1;
	top           : 0px;
}