/*------------------------------------------------------------------
Project:    Monster Media
Author:     Rey Ramos
URL:        http://www.monstermedia.net/
Version:    1.0
Created:    06/11/2014
-------------------------------------------------------------------*/
/* Sticky footer styles
-------------------------------------------------- */

html{
	margin  : 0;
	padding : 0;
	min-height: 100%;
	position : relative;
}

body, html{
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-background-clip     : padding-box;
	-webkit-font-smoothing      : antialiased;
	min-width                   : 320px;
	margin                      : 0px;
	padding                     : 0px;
	.select-disabled;
	.ng-leave{
		display : none;
	}
}

body{
	font-family      : 'Source Sans Pro', sans-serif;
	font-size        : 14px;
	line-height      : 1.42857143;
	color            : #333333;
	background-color : #ffffff;
	text-rendering   : optimizelegibility;
	margin           : 0;
	padding          : 0;
	direction        : ltr;

}

/*
* IE FIX for tap delay
*/
a, input, button{
	-ms-touch-action : none !important;
}

/*
* ***************************************************
* MAIN LAYOUT START
* ***************************************************
*/
#main{
	padding-top : @navbar-height;
}






