/*
 * LEFT PANEL
 */
#left-panel{
	position : fixed;
	width    : 230px;
	height   : 100%;
}

aside{
	display    : block;
	overflow   : hidden;
	min-height : 100%;
	min-height : 100%;
}

nav{
	position    : absolute;
	overflow-y  : auto;
	width       : 100%;
	height      : 100%;
	top         : 0px;
	padding-top : @navbar-height;

	ul{
		-webkit-margin-before : 0em;
		-webkit-margin-after  : 0em;
		-webkit-padding-start : 0px;
		margin                : 0;
		padding               : 0;
		list-style            : none;
	}

	ul{

		li{
			display  : block;
			padding  : 0;
			margin   : 0;
			border   : 0;
			position : relative;
			a{
				display         : block;
				height          : 38px;
				line-height     : 36px;
				padding         : 0 16px 0 7px;
				font-size       : 13px;
				text-decoration : none;
				margin          : 0;
				position        : relative;

				&:hover, &:focus{
					text-decoration : none;
				}
				.collapse-sign{
					float: right;
				}
			}

			&.header{
				a{
					height      : 28px;
					line-height : 28px;
					&:hover, &:focus{
						text-decoration : none;
					}
				}
			}
			> ul{
				display    : none;
				overflow   : hidden;
				list-style : none;
				margin     : 0;
				padding    : 0;
				position   : relative;
			}
		}
	}
}