
#sb-site{
	margin-left   : 0px;
	padding-right : 0px;
	.transition(.5s);
}

@media (min-width : 980px){
	#sb-site{
		margin-left   : 230px;
		padding-right : 230px;
	}

	.sb-slidebar{
		&.sb-left{
			visibility : visible;
		}
	}

	html.sb-active{
		&.sb-active-left{
			#sb-site{
				margin-left : 0px;
			}
		}
	}
}

html.sb-active{
	&.sb-active-left{
		#sb-site{
			outline: 1px solid #e5e5e5;
		}
	}
}