
@font-size-base: 13px;

// Main Theme Values
// --------------------------------------------------

// Grays
// -------------------------
@black: #000000;
@gray-darkest: lighten(@black, 5.5%);
// #111'ish?
@gray-darker: lighten(@black, 13.5%);
// #222
@gray-dark: lighten(@black, 20%);
// #333
@gray: lighten(@black, 33.5%);
// #555
@gray-light: lighten(@black, 60%);
// #999
@gray-mid-light: lighten(@black, 75%);
// #CCC'ish?
@gray-lighter: lighten(@black, 93.5%);
// #eee
@gray-lightest: lighten(@black, 95.5%);
// #fafafa'ish?

// COLOR PALLET
// --------------------------------------------------

@blueStandard: #3276b1;
@blueSky: #0091d9;
@blue: #57889c;
@blueLight: #92a2a8;
@blueDark: #4c4f53;
@green: #356e35;
@greenLight: #71843f;
@greenDark: #496949;
@greenBright: #40ac2b;
@red: #a90329;
@yellow: #b09b5b;
@orange: #c79121;
@orangeDark: #a57225;
@pink: #ac5287;
@pinkDark: #a8829f;
@purple: #6e587a;
@darken: #404040;
@lighten: #d5e7ec;
@white: #ffffff;
@greyDark: #525252;
@magenta: #6e3671;
@teal: #568a89;
@redLight: #a65858;
@redBright: #ed1c24;
@tealLight: #0aa66e;

// PATHS
// --------------------------------------------------
@font-path:"/fonts/";

// SPEED
// --------------------------------------------------
@menu-transition-speed:600ms;
@navigation-width:45px;

// HEADER
// --------------------------------------------------
@navbar-height:50px;
// ASIDE WIDTH (NAVIGATION WIDTH & COLOR)
// --------------------------------------------------

// careful when you are resizing this as it may affect lower resoltions
@asideWidth: 220px;

@asideColor-start: #2a2725;
/* left side */
/* right side */

@asideLinkColor: #a8a8a8;
@asideLinkColorHover: @white;
@asideLinkColorFocus: #c9c9c9;
@asideNavActiveBGColor: #616161;
/* the color that flashes when you click on the first nav element */
@asideNavFontSize: @font-size-base+1;
// 14px~
@asideNavFontSizeSecondLevel: @asideNavFontSize;
@asideNavFontSizeThirdLevel: @asideNavFontSize;

@asideNavExpanIconPush-x: 10px;
/* the plus icon that appears on the parent nav when expanding and collapsing */
@asideNavExpanIconPush-y: 10px;
/* these values will only address the first parent in the entire nav */

// ZINDEX
// -------------------------
@left-panel-zindex: 1002;



