<div class="topic">
	<div class="topic-blocks menu-block pull-left" data-ng-click="toggleSidebar()">
		<span class="menu-btn">
			<i class="fa fa-bars"></i>
		</span>
	</div>
	<div class="topic-blocks logo-block">
		<div class="logo"></div>
	</div>
</div>

