<nav>
	<ul data-jarvis-menu options="jarvisMenu">
		<li>
			<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-tags"></i>
				<span class="menu-item-parent">Products</span>
			</a>
			<ul>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Storefronts</span>
					</a>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Walls</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Social</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Floors</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Kiosk</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Mobile Display</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">3D</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-sitemap"></i>
				<span class="menu-item-parent">Networks</span>
			</a>
			<ul>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Storefronts</span>
					</a>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Airports</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Mass Transit</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Entertainment</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Event Solutions</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Malls</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-lg fa-fw"></i>
						<span class="menu-item-parent">Theathers</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-image"></i>
				<span class="menu-item-parent">Portfolio</span>
			</a>
		</li>
		<li class="header">
			<a href="javascript:void(0);">
				<span class="menu-item-parent">SOME HEADING</span>
			</a>
		</li>
		<li>
			<a class="active" href="/about"><i class="fa fa-lg fa-fw fa-question-circle"></i>
				<span class="menu-item-parent">About</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-globe"></i>
				<span class="menu-item-parent">News</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-edit"></i>
				<span class="menu-item-parent">Blog</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-sign-in"></i>
				<span class="menu-item-parent">Log in</span>
			</a>
		</li>
	</ul>
</nav>
